/* Raadh11Generator.css */

.raadh11-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.raadh11-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.raadh11-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.raadh11-button:hover {
  background-color: #0056b3;
}

.raadh11-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  /* grid-column-gap: 10px; */
}

.raadh11-list li {
  font-weight: bold; /* Make text bold */
  margin-bottom: 10px;
}

.green {
  color: black;
}

.red {
  color: red;
}

.raadh11-message {
  margin-top: 20px;
  font-size: 20px;
  color: green;
}

.raadh11-generate-c-vc-button {
  margin-right: 10px; /* Adjust as needed */
  padding: 8px 16px; /* Adjust as needed */
  background-color: #007bff; /* Adjust color as needed */
  color: #fff; /* Adjust color as needed */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.raadh11-generate-c-vc-button:hover {
  background-color: #0056b3; /* Adjust hover color as needed */
}

.raadh11-clear-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px; /* Add margin to separate from the message */
}

.raadh11-clear-button:hover {
  background-color: #c82333;
}

/* Media Queries for Responsive Design */

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
  .raadh11-container {
    padding: 30px;
  }
  
  .raadh11-title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .raadh11-button {
    font-size: 18px;
  }
  
  .raadh11-clear-button {
    font-size: 18px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .raadh11-container {
    max-width: 800px;
  }
}
